// As hex codes */

$color-primary: #316488;	// Main Primary color */
$color-primary-dark: darken($color-primary, 5%);
$color-primary-darkest: darken($color-primary, 10%);
$color-primary-light: lighten($color-primary, 5%);
$color-primary-lightest: lighten($color-primary, 10%);

$color-secondary-1: #D5AF43;	// Main Secondary color (1) */
$color-secondary-1-dark: darken($color-secondary-1, 5%);
$color-secondary-1-darkest: darken($color-secondary-1, 10%);
$color-secondary-1-light: lighten($color-secondary-1, 5%);
$color-secondary-1-lightest: lighten($color-secondary-1, 10%);

$color-secondary-2: #D56A43;	// Main Secondary color (2) */
$color-secondary-2-dark: darken($color-secondary-2, 5%);
$color-secondary-2-darkest: darken($color-secondary-2, 10%);
$color-secondary-2-light: lighten($color-secondary-2, 5%);
$color-secondary-2-lightest: lighten($color-secondary-2, 10%);
